.idea/*
ml1_mnist/.idea/*
.ipynb_checkpoints/*
*.pyc
*.json
*.zip
./*.png
data/*.idx1-ubyte
data/*.idx3-ubyte
data/*.npy
learning_curves/*
ml1_mnist/nn/learning_curves/*
models/*.json
report/*.tex
report/*.txt
run_*.py
tmp/*
upload/*