*.json
*.png
*.pyc
*.zip
.idea/*
.ipynb_checkpoints/*
data/*.npy
data/*idx1-ubyte
data/*idx3-ubyte
experiments/.ipynb_checkpoints/*
learning_curves/*
ml_mnist/.idea/*
ml_mnist/nn/learning_curves/*
models/*.json
tmp/*