.idea/*
ml1_mnist/.idea/*
.ipynb_checkpoints/*
data/*.npy
data/*.idx1-ubyte
data/*.idx3-ubyte
report/*.txt
*.pyc
*.json
*.zip
ml1_mnist/nn/learning_curves/*
learning_curves/*
*.png
models/*
tmp/*
run_*.py
report/*.tex
.report.tex.swp
cv_results/.~lock.gp_raw_best.xlsx#
upload/*
